In [4]:
import pandas as pd

In [5]:
dataset = pd.read_csv('data.csv')

In [6]:
dataset.head()

   Rooms  Distance  Value
0  6.575    4.0900   24.0
1  6.421    4.9671   21.6
2  7.185    4.9671   34.7
3  6.998    6.0622   33.4
4  7.147    6.0622   36.2